h1 {
    text-align: center;
    padding: 50px;
    font-family: Impact;
    font-size: 72px;
}

button {
    border: white;
    font-size: 18px;
}

ul li {
    display: inline;
    padding: 80px;
    position: relative;
    left: 575px;
}

.HB {
    height: 150px;
    width: 150px;
    position: absolute;
}