body {
    background: url(../images/tall-skyscrapers-view-from-below-vintage-edit-picjumbo-com.jpg);
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

}


#rectangle {
position: absolute;
width: 310px;
height: 71px;
left: 870px;
top: 145px;
z-index: -1;
display: flex;

background: rgba(196, 196, 196, 0.83);
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


h1 {
    position: absolute;
    width: 270px;
    height: 63px;
    left: 890px;
    top: 118px;

    font-family: Fascinate Inline;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.02em;

    color: rgba(0, 0, 0, 0.94);
}

#rectangle2 {
    position: absolute;
    width: 182px;
    height: 43px;
    left: 250px;
    top: 400px;

    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    position: absolute;
    width: 140px;
    height: 33px;
    left: 270px;
    top: 392px;

    font-family: 'Enriqueta';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;

    color: rgba(0, 0, 0, 0.91);
}

#rectangle3 {
    position: absolute;
    width: 182px;
    height: 41px;
    left: 249px;
    top: 600px;

    background: rgba(229, 229, 229, 0.87);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p2 {
    position: absolute;
    width: 163px;
    height: 46px;
    left: 257px;
    top: 610px;
    
    font-family: 'Enriqueta';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: rgba(0, 0, 0, 0.9);
}

/* #rectangle4 {
    position: absolute;
    width: 460px;
    height: 47px;
    left: 525px;
    top: 395px;
    
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);   
} */

/* #rectangle5 {
    position: absolute;
    width: 460px;
    height: 41px;
    left: 525px;
    top: 600px;
    
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

#input4{
    position: absolute;
    width: 460px;
    height: 41px;
    left: 525px;
    top: 395px;
    
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Enriqueta';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;

    color: rgba(0, 0, 0, 0.91);
}

#input5{
    position: absolute;
    width: 460px;
    height: 41px;
    left: 525px;
    top: 600px;
    
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Enriqueta';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;

    color: rgba(0, 0, 0, 0.91);
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}

.btn {		
	position: relative;	
	padding: 0.6rem 2.8rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .1s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .1s;
}

/* From Top */

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

/* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

/* From Right */

.from-right:before, 
.from-right:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-right:before {
	left: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-right:after {
	right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
	width: 100%;
}

/* From Middle */

.from-middle:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.from-middle:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-middle:hover:before {
	left: 0;
	width: 100%;
}

.from-middle:hover:after {
	top: 0;
	height: 100%;
}

/* From Bottom */

.from-bottom:before, 
.from-bottom:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-bottom:before {
	top: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-bottom:after {
	bottom: 0;
	height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
	height: 100%;
}

.header .btn {
    display: inline;
    color: black;
	text-decoration: none;
	--def: white; 
}

*, *:before, *:after {
	box-sizing: border-box;
}